[Unit]
Description=Change wallpaper
Wants=wallpaper-changer.timer

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/home/dickus/.config/scripts/wallpaper-changer.sh"

[Install]
WantedBy=multi-user.target
