.gitignore
.config/gtk-3.0/bookmarks
.config/blender/*/config/*.txt
.config/blender/*/scripts/addons/*
.config/nvim/lazy-lock.json
.local/share/rofimoji/frecency
.local/share/rofimoji/recent*
.config/waybar/scripts/pomodoro/status
.config/kitty/kitty.conf.bak
.config/kitty/current-theme.conf
.config/waybar/scripts/daylight/daylight
.config/tmux/plugins
.config/hypr/scripts/zen/mode
