themes {
    gruvbox {
        fg "#3c3836"
        bg "#fbf1c7"
        red "#cc241d"
        green "#458588"
        yellow "#d79921"
        blue "#98971a"
        magenta "#d16286"
        orange "#d57614"
        cyan "#689d6a"
        black "#3c3836"
        white "#3c3836"
    }
}

