themes {
    gruvbox {
        fg "#303446"
        bg "#eff1f5"
        red "#d20f39"
        green "#1e66f5"
        yellow "#df8e1d"
        blue "#40a02b"
        magenta "#8839ef"
        orange "#fe640b"
        cyan "#209fb5"
        black "#303446"
        white "#303446"
    }
}

