themes {
    nord {
        fg "#d8dee9"
        bg "#2e3440"
        red "#bf616a"
        green "#81a1c1"
        yellow "#ebcb8b"
        blue "#a3be8c"
        magenta "#b48ead"
        orange "#ebcb8b"
        cyan "#88c0d0"
        black "#2e3440"
        white "#d8dee9"
    }
}

