@define-color bg       rgba(236, 239, 244, 0.9);
@define-color text     rgba( 46,  52,  64,   1);
@define-color alt-text rgba(236, 239, 244,   1);

* {
    border:      none;
    font-family: SFMono Nerd Font Mono;
    font-size:   14px;
    min-height:  22px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background: transparent;
    box-shadow: none;
}

#custom-time {
    padding:     10px;
    margin-top:  120px;
    color:       @alt-text;
    font-size:   50px;
    text-shadow: 2px 2px 4px @text;
}

#custom-date {
    padding:     10px;
    margin-top:  225px;
    margin-left: -75px;
    color:       @alt-text;
    font-size:   30px;
    text-shadow: 2px 2px 4px @text;
}

