[mgr]
# General
ratio        = [1, 3, 3]
linemode     = "size_and_mtime"
scrolloff    = 200
mouse_events = []

# Sort
sort_by        = "natural"
sort_sensitive = false
sort_dir_first = true
sort_translit  = true

[preview]
tab_size     = 4
image_filter = "lanczos3"
wrap         = "yes"

[opener]
edit = [
    { run = 'cd "$@"; nvim "$@"', block = true },
]

pdfs = [
    { run = 'zathura "$@"', orphan = true },
]

images = [
    { run = 'find . -maxdepth 1 -type f | xargs -r swayimg "$@"', orphan = true },
]

audio = [
    { run = 'kitty -e mpv --no-video "$@"', orphan = true },
]

jars = [
    { run = 'kitty -e java -jar "$@"', orphan = true },
]

runs = [
    { run = 'kitty -e "$@"', orphan = true },
]

exes = [
    { run = 'portproton "$@"', orphan = true },
]

[open]
prepend_rules = [
    # docs
    { url = "*.pdf", use = "pdfs" },

    # configs
    { url = "*.ini", use = "edit" },

    # images/gifs
    { url = "*.png",  use = "images" },
    { url = "*.jpg",  use = "images" },
    { url = "*.jpeg", use = "images" },
    { url = "*.webp", use = "images" },
    { url = "*.gif",  use = "images" },
    { url = "*.svg",  use = "images" },

    # audio
    { url = "*.mp3",  use = "audio" },
    { url = "*.flac", use = "audio" },
    { url = "*.wav",  use = "audio" },
    { url = "*.m4a",  use = "audio" },

    # runs
    { url = "*.run", use = "runs" },

    # exes
    { url = "*.exe", use = "exes" },
]

