@define-color bg          rgba( 48,  52,  70, 0.9);
@define-color bg-blue     rgba(140, 170, 238, 0.9);
@define-color bg-red      rgba(231, 130, 132, 0.9);
@define-color bg-yellow   rgba(229, 200, 144, 0.9);
@define-color bg-orange   rgba(239, 159, 118, 0.9);
@define-color bg-disabled rgba(165, 173, 206, 0.9);
@define-color text        rgba( 48,  52,  70,   1);
@define-color alt-text    rgba(198, 208, 245,   1);

* {
    border:        none;
    border-radius: 10;
    font-family:   SFMono Nerd Font Mono;
    font-size:     14px;
    min-height:    22px;
}

#workspaces {
    transition: none;
    background: @bg;
    margin:     4px 4px 5px 4px;
    box-shadow: 1px 1px 3px 0px @text;
}

#workspaces button {
    color: @alt-text;
}

#workspaces button:hover {
    color:       @text;
    background:  @bg-disabled;
    box-shadow:  inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    color:            @text;
    background-color: @bg-blue;
}

#workspaces button.urgent {
    color:            @text;
    background-color: @bg-red;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background: transparent;
    box-shadow: none;
}

#pulseaudio {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    transition: none;
    color:      @alt-text;
    background: @bg;
    box-shadow: 1px 1px 3px 0px @text;
}

#pulseaudio.muted {
    background-color: @bg-yellow;
    color:            @text;
}

#pulseaudio.source-muted {
    background-color: @bg-orange;
    color:            @text;
}

#pulseaudio.muted.source-muted {
    background-color: @bg-red;
    color:            @text;
}

#language {
    transition: none;
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    color:      @text;
    background: @bg-blue;
    box-shadow: 1px 1px 3px 0px @text;
}

#tray {
    padding:    5px 8px;
    margin:     0px 4px 4px 4px;
    transition: none;
    background: @bg;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-notifications {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    font-size:  20px;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-notifications.enabled {
    color:      @text;
    background: @bg-blue;
}

#custom-notifications.disabled {
    color:      @text;
    background: @bg-disabled;
}

#custom-network {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    font-size:  20px;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-network.connected {
    color:      @text;
    background: @bg-blue;
}

#custom-network.disconnected {
    color:      @text;
    background: @bg-disabled;
}

#custom-network.vpn {
    color:      @alt-text;
    background: @bg-yellow;
}

#custom-daylight {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    background: @bg;
    font-size:  20px;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-daylight.on {
    color:      @text;
    background: @bg-blue;
}

#custom-record {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    font-size:  20px;
    background: @bg;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-record.on {
    color: @bg-red;
}

#custom-record.off {
    color: @alt-text;
}

#custom-gamepad {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    font-size:  20px;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-gamepad.high {
    background: @bg-blue;
}

#custom-gamepad.mid {
    background: @bg-yellow;
}

#custom-gamepad.low {
    background: @bg-red;
    animation:  blink 2s steps(2, start) infinite;
}

@keyframes blink {
    0% {
        color:      @alt-text;
        background: @bg;
    }
    50% {
        background: @bg-red;
    }
    100% {
        color:      @alt-text;
        background: @bg;
    }
}

#custom-pomodoro {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    color:      @alt-text;
    background: @bg;
    font-size:  20px;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-pomodoro.on_work {
    color:      @text;
    font-size:  18px;
    background: @bg-red;
}

#custom-pomodoro.on_chill {
    color:      @text;
    font-size:  18px;
    background: @bg-blue;
}

#custom-todo {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    color:      @alt-text;
    font-size:  18px;
    background: @bg;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-color {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  18px;
    background: @bg;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-yabrowser {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @bg-blue;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-zoom {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @bg-blue;
    box-shadow: 1px 1px 3px 0px @text;
}

