@define-color bg-color-0 rgba(48, 52, 70, 0.9);
@define-color bg-color-1 rgba(140, 170, 238, 0.8);
@define-color bg-color-2 rgba(231, 130, 132, 0.9);
@define-color bg-color-3 rgba(229, 200, 144, 0.9);
@define-color text rgba(48, 52, 70, 1);
@define-color alt-text rgba(239, 241, 245, 1);
@define-color green rgba(166, 209, 137, 0.8);
@define-color blue rgba(140, 170, 238, 1);
@define-color shadow rgba(48, 52, 70, 1);
@define-color disabled rgba(181, 191, 226, 1);

* {
    border:        none;
    border-radius: 10;
    font-family:   SFMono Nerd Font Mono;
    font-size:     14px;
    min-height:    22px;
}

#workspaces {
    transition: none;
    background: @bg-color-0;
    margin:     0px 4px 5px 4px;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#workspaces button:hover {
    color:       @text;
    background:  @disabled;
    box-shadow:  inherit;
    text-shadow: inherit;
}

#workspaces button.persistent {
    color: @blue;
}

#workspaces button.empty {
    color: @alt-text;
}

#workspaces button.active {
    color:            @text;
    background-color: @bg-color-1;
}

#workspaces button.urgent {
    color:            @text;
    background-color: @bg-color-2;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background: transparent;
    box-shadow: none;
}

#clock {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    transition: none;
    color:      @text;
    background: @bg-color-1;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#pulseaudio {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    transition: none;
    color:      @text;
    background: @bg-color-1;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#pulseaudio.muted,
#pulseaudio.source-muted {
    background-color: @bg-color-2;
    color:            @text;
}

#language {
    transition: none;
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    color:      @text;
    background: @green;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#tray {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    transition: none;
    color:      @blue;
    background: @bg-color-0;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-apps {
    padding:    5px 8px;
    margin:     4px 4px 4px 4px;
    background: @bg-color-1;
    color:      @text;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-powermenu {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    background: @bg-color-1;
    color:      @text;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-notifications {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-notifications.enabled {
    color:      @text;
    background: @green;
}

#custom-notifications.disabled {
    color:      @text;
    background: @disabled;
}

#custom-network {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    font-size:  20px;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-network.connected {
    color:      @text;
    background: @green;
}

#custom-network.disconnected {
    color:      @alt-text;
    background: @disabled;
}

#custom-network.vpn {
    color:      @alt-text;
    background: @bg-color-3;
}

#custom-daylight {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    background: @bg-color-3;
    font-size:  20px;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-daylight.on {
    background: @bg-color-2;
}

#custom-record {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    font-size:  20px;
    background: @bg-color-0;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-record.on {
    color: @bg-color-2;
}

#custom-record.off {
    color: @alt-text;
}

#custom-gamepad {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    font-size:  20px;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-gamepad.high {
    background: @green;
}

#custom-gamepad.mid {
    background: @bg-color-3;
}

#custom-gamepad.low {
    background: @bg-color-2;
    animation:  blink 2s steps(2, start) infinite;
}

@keyframes blink {
    0% {
        color:      @alt-text;
        background: @bg-color-0;
    }
    50% {
        background: @bg-color-2;
    }
    100% {
        color:      @alt-text;
        background: @bg-color-0;
    }
}

#custom-pomodoro {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    background: @disabled;
    font-size:  20px;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-pomodoro.on_work {
    color:      @text;
    font-size:  18px;
    background: @bg-color-2;
}

#custom-pomodoro.on_chill {
    color:      @text;
    font-size:  18px;
    background: @green;
}

#custom-todo {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    color:      @text;
    font-size:  18px;
    background: @bg-color-3;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-color {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  18px;
    background: @bg-color-3;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-web {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @bg-color-3;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-steam {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @green;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-telegram {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @green;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-discord {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @green;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-davinci {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @bg-color-3;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-gimp {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @bg-color-3;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-battlenet {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @green;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-notes {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @bg-color-3;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-sessionreload {
    padding:    5px 8px;
    margin:     0px 4px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @bg-color-3;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-yabrowser {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @bg-color-2;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-zoom {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @bg-color-2;
    box-shadow: 1px 1px 3px 0px @shadow;
}

#custom-audacity {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @text;
    font-size:  20px;
    background: @bg-color-3;
    box-shadow: 1px 1px 3px 0px @shadow;
}

