@define-color bg          rgba(239, 241, 245, 0.9);
@define-color bg-blue     rgba( 30, 102, 245, 0.9);
@define-color bg-red      rgba(210,  15,  57, 0.9);
@define-color bg-yellow   rgba(223, 142,  29, 0.9);
@define-color bg-orange   rgba(254, 100,  11, 0.9);
@define-color bg-green    rgba( 64, 160,  43, 0.9);
@define-color bg-disabled rgba(172, 176, 190, 0.9);
@define-color text        rgba( 76,  79, 105,   1);
@define-color alt-text    rgba(239, 241, 245,   1);
@define-color blue        rgba( 30, 102, 245,   1);

* {
    border:        none;
    border-radius: 10;
    font-family:   SFMono Nerd Font Mono;
    font-size:     14px;
    min-height:    22px;
}

#workspaces {
    transition: none;
    background: @bg;
    margin:     0px 4px 5px 4px;
    box-shadow: 1px 1px 3px 0px @text;
}

#workspaces button:hover {
    color:       @text;
    background:  @bg-disabled;
    box-shadow:  inherit;
    text-shadow: inherit;
}

#workspaces button.persistent {
    color: @blue;
}

#workspaces button.empty {
    color: @text;
}

#workspaces button.active {
    color:            @alt-text;
    background-color: @bg-blue;
}

#workspaces button.urgent {
    color:            @alt-text;
    background-color: @bg-red;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background: transparent;
    box-shadow: none;
}

#clock {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    transition: none;
    color:      @alt-text;
    background: @bg-blue;
    box-shadow: 1px 1px 3px 0px @text;
}

#pulseaudio {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    transition: none;
    color:      @alt-text;
    background: @bg-blue;
    box-shadow: 1px 1px 3px 0px @text;
}

#pulseaudio.muted {
    background-color: @bg-yellow;
    color:            @alt-text;
}

#pulseaudio.source-muted {
    background-color: @bg-orange;
    color:            @alt-text;
}

#pulseaudio.muted.source-muted {
    background-color: @bg-red;
    color:            @alt-text;
}

#language {
    transition: none;
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    color:      @alt-text;
    background: @bg-green;
    box-shadow: 1px 1px 3px 0px @text;
}

#tray {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    transition: none;
    color:      @blue;
    background: @bg;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-apps {
    padding:    5px 8px;
    margin:     4px 4px 4px 4px;
    background: @bg-blue;
    color:      @alt-text;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-powermenu {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    background: @bg-blue;
    color:      @alt-text;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-notifications {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-notifications.enabled {
    color:      @alt-text;
    background: @bg-green;
}

#custom-notifications.disabled {
    color:      @alt-text;
    background: @bg-disabled;
}

#custom-network {
    padding:    5px 8px;
    font-size:  20px;
    margin:     0px 4px 5px 4px;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-network.connected {
    color:      @alt-text;
    background: @bg-green;
}

#custom-network.disconnected {
    color:      @alt-text;
    background: @bg-disabled;
}

#custom-network.vpn {
    color:      @alt-text;
    background: @bg-yellow;
}

#custom-daylight {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-yellow;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-daylight.on {
    background: @bg-red;
}

#custom-record {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    font-size:  20px;
    background: @bg-blue;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-record.on {
    color: @bg-red;
}

#custom-record.off {
    color: @alt-text;
}

#custom-gamepad {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    font-size:  20px;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-gamepad.high {
    background: @bg-green;
}

#custom-gamepad.mid {
    background: @bg-yellow;
}

#custom-gamepad.low {
    background: @bg-red;
    animation:  blink 2s steps(2, start) infinite;
}

@keyframes blink {
    0% {
        color:      @alt-text;
        background: @bg;
    }
    50% {
        background: @bg-red;
    }
    100% {
        color:      @alt-text;
        background: @bg;
    }
}

#custom-pomodoro {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @bg-red;
    font-size:  20px;
    background: @bg-disabled;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-pomodoro.on_work {
    color:      @alt-text;
    font-size:  18px;
    background: @bg-red;
}

#custom-pomodoro.on_chill {
    color:      @alt-text;
    font-size:  18px;
    background: @bg-green;
}

#custom-todo {
    padding:    5px 8px;
    margin:     0px 4px 5px 4px;
    color:      @alt-text;
    font-size:  18px;
    background: @bg-blue;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-color {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  18px;
    background: @bg-yellow;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-web {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-yellow;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-steam {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-green;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-telegram {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-green;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-discord {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-green;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-davinci {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-yellow;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-gimp {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-yellow;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-battlenet {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-green;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-notes {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-yellow;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-sessionreload {
    padding:    5px 8px;
    margin:     0px 4px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-yellow;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-yabrowser {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-red;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-zoom {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-red;
    box-shadow: 1px 1px 3px 0px @text;
}

#custom-audacity {
    padding:    5px 10px;
    margin:     4px 7px 4px 4px;
    color:      @alt-text;
    font-size:  20px;
    background: @bg-yellow;
    box-shadow: 1px 1px 3px 0px @text;
}

